.main{
	margin: 100px 0 0 160px;
	border-radius: 5px;
	width: 291px;
	height: 464px;
	border: 3px solid #ee8129;
}

.best_value{
	overflow: hidden;
	height: 74px;
	background-color: #ee8129;
	color: #fff;
	font-family: Impact;
	text-align: center;
}

.best_value p{	
	padding-top: 10px;
}

.iconic_graphics{
	text-align: center;
	font-size: 24px;
}

.monthly{	
	text-align: center;
}

.monthly strong{
	font-size: 60px;
}

.monthly sup{
	font-size: 36px;
}

.monthly sub{
	font-size: 22px;
}

ul li{
	background-color: edf5ed;
	height: 32px;
}


ul li{
	list-style-type: none;
}

img{
	margin-right: 5px;
}
